<mat-toolbar>
  <button md-button (click)="saveTab()" [disabled]="this.currentIndex==-1"> <mat-icon >save</mat-icon> </button>
  <button md-button (click)="closeTab()" [disabled]="this.currentIndex==-1"> <mat-icon >close</mat-icon> </button>
  <div class="example-placeholder"></div>


  <div>
    <input type="text" class="mat-toolbar mat-input-width" placeholder="Input snippet name" matInput [formControl]="myControl" [matAutocomplete]="auto" (keypress)="onKeyPress($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="example-placeholder"></div>

  <button md-button (click)="runTab()"> <mat-icon >play_arrow</mat-icon> </button>

</mat-toolbar>

<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let tab of tabs; let i = index" label="{{tabs[i].name}}">
    <mat-toolbar>
    </mat-toolbar>
    <div class="example-container">
      <textarea matInput id="tabs{{i}}" [(ngModel)]="tabs[i].content" name="tabs[i].name" matTextareaAutosize matAutosizeMinRows="20"></textarea>
    </div>
  </mat-tab>
</mat-tab-group>
